.title {
    font-weight:bold;
}

.droite {
    text-align:right;
    float: right;
}

.like {
    background-color: rgb(94, 175, 94);
    position: relative;

    .title {
        color: rgb(1, 85, 1);
    }
    .content {
        color: rgb(1, 85, 1);
    }
}

.dislike {
    background-color: rgb(230, 132, 132);
    position: relative;

    .title {
        color: rgb(165, 7, 7);
    }
    .content {
        color: rgb(165, 7, 7);
    }
}

